package-lock.json

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/

# Debugging artifacts
*.swp
*.swo

# Dependency directories
.DS_Store

# Babel cache
.babelrc
.cache/

# SQLite database
*.sqlite3

# Coverage reports
coverage/

# Knex migrations
src/migrations/*_compiled.js

# IDE specific files
.vscode/
.idea/
